.main-container-form-signUp {
    width: 100vw;
    height: 100vh;
}

.between {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    text-align: center;
    margin-bottom: 16px;
}

.container-form-signUp {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: inherit;
    min-width: 300px;
    max-width: 50vw;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #ece9fd;
    background-color: #8c77fe;
    border-radius: 16px;
    box-shadow: 0 0 10px 10px #1200453a;
}

.container-form-signUp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-signUp {
    width: 100%;
}

.container-form-signUp .form-signUp .container-input {
    width: 80%;
    margin: 0 auto;
}

.container-form-signUp .form-signUp .container-input span{
    display: block;
    margin: 10px 0 10px 5px;
}

.container-form-signUp .form-signUp .container-input input{
    padding: 10px;
    width: 100%; 
    border: 0;
    border-radius: 5px;
    background-color: #ece9fd;
}

.container-form-signUp .form-signUp .container-input input:focus{
    border: 2px solid #120045;
}

.container-form-signUp .submit-button {
    width: 40%;
}

.container-form-signUp .submit-button button{
    color: #d9d4ff;
    padding: 10px;
    background-color: #4703d1;
    border-radius: 5px;
    align-self: center;
    box-shadow: none;
    border: none;
    width: 100%;
    margin: 10px 0 10px 0;
}
.container-form-signUp .submit-button button:hover{
    cursor: pointer;
    background-color: #27017d;
}

.isClient-text {
    cursor: pointer;
}

.isClient-text:hover {
    cursor: pointer;
    color: #744dfe;
}


@media (min-height: 800px){
    .container-form-signUp {
        height: 50vh;
    }

    .container-form-signUp form {
        gap: 20px;
    }

    .container-form-signUp .form-signUp .container-input span{
        display: block;
        margin: 15px 0 15px 5px;
    }
}